* {
  /* padding: 15px; */
  padding: 0;
  margin: 0;
}


body{
  padding: 4%;

}
.global-class{
  padding: 3%;
  border: solid;
}

.first-div {
  display: flex;
  justify-content: space-between;
}

.upper-small-container {
  display: flex;
  padding: 2%;
  gap: 2%;
}

.underline-elem {
  text-decoration: underline;
}

.second-container-left {
  min-width: 30%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top: 3%;
}

.grid-template{
    margin-top: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
  /* padding: 10px; */
  border: 1px solid black;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 20px;
    /* font-size: 30px; */
    text-align: center;
  }

.first-div-first-child{
  width: 36%; background-color: rgb(204, 235, 235);padding: 2%;
}


.image-backg-class{
  padding: 3px;background-color: rgb(204, 235, 235);
}
.image-backg-main-class{
  border: 10px solid red;margin-left: 15%;margin-top: 1%;
}

.second-main-component-class{
  background-color: rgb(204, 235, 235); margin-top: 5%;padding: 1%;
}



.second-container-first-div{
  margin-top: 1%;margin-right: 2%;
}