* {
  margin: 0;
  padding: 0;
}

.first-container {
  width: 70%;
  /* min-width: 70%; */
  /* max-width: 71%; */
  /* padding: 3%; */
  margin-left: 4%;
  margin-right: 4%;
}

.first-left-heading {
  display: flex;
  align-items: center;
  opacity: 60%;
  column-gap: 1%;
  margin-top: 4%;
  margin-bottom: 3%;
  /* font-size: 21px; */
}

.first-left-below {
  font-size: 20px;
  font-weight: 600;
  opacity: 60%;
}


.first-text-below{
    font-size: 21px;margin-top: 4px;margin-top: 2%;opacity: 70%;
}



/* second container */

.second-container {
    min-width: 30%;
    max-width: 31%;
    height:max-content;
    background-color: blueviolet;
    color: white;
  }



  
.second-right-heading {
  display: flex;
  align-items: center;
  column-gap: 1%;
  margin-top: 13px;
  /* font-size: 21px; */
}



.second-right-heading > img{
  width: 32px;
}


.font-25{
  font-size: 19px;
  margin-top: 4px;
}


.parent-container{
  display: flex;
}

.ui-container-parnent-container{
  display: flex; justify-content: space-between;
}

.amazon-container{
  font-size: 20px; opacity: 30%; margin-top: 4px
}

.amazon-container-experience{
  margin-right: 5%
}


.skills-proficiency{
  margin-top: 5%;
}

.horizontal-bar-parent{
  opacity: 70%
}

.horizontal-bar-first-div{
  display: flex
}

.horizontal-bar-left-heading{
  width: 30%; font-weight: bold; font-size: 20px
}

.horizontal-bar-right-parent{
  width: 100%; background-color: gainsboro;
}

.horizontal-bar-right-inner{
  width: 93%; height: 100%; background-color: blueviolet
}

.horizontal-bar-second-div{
  display: flex; margin-top: 4%;
}
.horizontal-bar-second-div-inner{
  width: 56%; height: 100%; background-color: blueviolet
}